@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Segoe UI', sans-serif;

  
  --color-bg: #E5EFFF;
  --color-footer : #031B34;
  --color-hover: #16A4DE;
  --color-text: #242d43;
  --color-subtext: #FF8A71;
}
